page-home {

    .home {
        background: url("../../assets/imgs/dead_clocks.jpg") no-repeat fixed center;
        background-size: cover;
    }

    .button-app{
        margin: 10%;
    }

    .vertical-align-content > *
    {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }

    .center {
        text-align: center;  
    }

}
